.gm-style-iw-chr {
  height: 1vh;
}

#map
  > div
  > div.gm-style
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div.gm-style-iw.gm-style-iw-c
  > div.gm-style-iw-d
  > div
  > div
  > button.delete {
  margin-left: 30%;
  width: 3vw;
  height: 2vh;
}

#map
  > div
  > div.gm-style
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div.gm-style-iw.gm-style-iw-c
  > div.gm-style-iw-d
  > div
  > div
  > button:nth-child(11) {
  margin-top: 5vh;
}

#map
  > div
  > div.gm-style
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div.gm-style-iw.gm-style-iw-c
  > div.gm-style-iw-d
  > div
  > div
  > input.notes {
  margin-top: 1.5vh;
  margin-bottom: 0.5vh;
}
/* #weatherResponse {
  display: none;
} */

#geoInfo {
  line-height: 0.5vh;
}

#weatherBtnTxt {
  height: 0.2vh;
  margin-top: 0.5vh;
}

#map
  > div
  > div.gm-style
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div.gm-style-iw.gm-style-iw-c
  > div.gm-style-iw-d
  > div
  > div
  > h4 {
  margin-top: -0.1vh;
}
