div#requestedWeather {
  display: none;
}

h4 > button#editMarker {
  margin-left: 0.5vw;
}

#fileInput {
  margin-bottom: 2vh;
}

.delete {
  margin-left: 1vw;
  width: 5vw;
}

#markerName {
  margin-top: 1em;
}

#getWeather {
}
#weatherBtnTxt {
  height: 0.3em;
  margin-top: -0.1em;
}

/* 
  The area at top of an infoWindow
*/
#map
  > div
  > div.gm-style
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div.gm-style-iw.gm-style-iw-c
  > div.gm-style-iw-chr {
  height: 1em;
}
