div#requestedWeather {
  display: none;
}

h4 > button#editMarker {
  margin-left: 0.5vw;
}

#fileInput {
  margin-bottom: 2vh;
}

.delete {
  margin-left: 1vw;
  width: 5vw;
}

#markerName {
  margin-top: 1em;
}

#getWeather {
}
#weatherBtnTxt {
  height: 0.3em;
  margin-top: -0.1em;
}
