#map {
  height: 85vh;
  width: 100%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  position: absolute; /* Position absolute for toast */
  top: 20px; /* Adjust this value to move it up/down */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Centering adjustment */
  z-index: 1000; /* Ensure it's above other elements */
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 16px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  transition: visibility 0s, opacity 0.5s linear; /* Smooth transition */
}

/* Show the toast */
#snackbar.show {
  display: block; /* Make it visible */
  opacity: 1; /* Full opacity */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.flyout-menu {
  position: absolute;
  top: -60px; /* Adjust this value based on the height of flyout menu */
  left: 0; /* Aligns with the left edge of the button */
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  display: none; /* Initially hidden */
  z-index: 1000;
}

.flyout-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.flyout-menu button:hover {
  background-color: #ddd;
}
