div#requestedWeather {
  display: none;
}

#fileInput {
  margin-bottom: 2vh;
}

#markerName {
  margin-top: 1em;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: medium;
}
#markerType {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: medium;
}

/* 
  The area at top of an infoWindow
*/
#map
  > div
  > div.gm-style
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div.gm-style-iw.gm-style-iw-c
  > div.gm-style-iw-chr {
  height: 1em;
}

.info-window-content {
  width: 40vw;
}

#markerInfo {
  margin-top: 5em;
  line-height: 0.2em;
  font-size: 0.8em;
}

#buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

#buttons button {
  flex: 1;
  padding: 1px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
}

#buttons button:hover {
  background-color: #aed08e;
}
#imageContainer {
  display: none;
}

#imageContainer .image {
  width: 100%;
  height: 25vh;
}
#imageForm {
  margin-top: 3em;
}
